
.container {
    padding-top: 60px;
    padding-bottom: 60px;
}
nav a { 
    float: inline-block;
    padding-left: 15px;
    margin-left: 15px;
    line-height: 18px;
    color: #999;
    text-decoration: none;
    border-left: 1px solid #efefef;
  }

  .navbar-nav {
      float: right;
      padding-left: 60% !important;
  }

  #logo {
    height: 90px;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 90px;
    color: #ffffff;
    background: #147a88;
    padding-right: 15px;
    margin-left: 155px;
    border-radius: 5px;
  }

  h1 {
    font-family: Georgia, Times, "Times New Roman", serif !important;
    font-weight: 700;
    color: #147a88 !important;
  }
  #copyright {
      margin:auto;
  }

  #row1 {
      text-align: center;
  }

  #row2 {
      margin-right: 10%;
      text-align: center;
  }